.content  h2{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.content a {
    font-size: 16px;
}
.content hr {
    margin-top: 17px;
    margin-bottom: 17px;
}
.content li {
    color: rgb(81, 81, 81);
    padding-right: 15px;
}
.content img {
    border-radius: 5px;
}