@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: 'samim';
  src: url('/fonts/samim/Samim-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'samim';
  src: url('/fonts/samim/Samim-Bold-FD.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}





:root {
  --color-primary-50: theme('colors.blue.50');
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');

  --container-max-width: 1200px;

  --body-background: #f0f3f5;
}


.theme-2 {
  --color-primary-50: theme('colors.red.50');
  --color-primary-100: theme('colors.red.100');
  --color-primary-200: theme('colors.red.200');
  --color-primary-300: theme('colors.red.300');
  --color-primary-400: theme('colors.red.400');
  --color-primary-500: theme('colors.red.500');
  --color-primary-600: theme('colors.red.600');
  --color-primary-700: theme('colors.red.700');
  --color-primary-800: theme('colors.red.800');
  --color-primary-900: theme('colors.red.900');

  --container-max-width: 1500px;

  --body-background: #fff;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



label.mbsc-form-control-wrapper {
  margin: 0 !important;
}


label.mbsc-form-control-wrapper .mbsc-textfield {
  .domestic-hotel-search-form &{
    border: 1px solid #aaa;
    border-radius: 8px;
    padding-top: 15px;
    height: 48px;
    font-size: 14px;
    padding-right: 38px;
  }
  .persian-datepicker-wrapper & {
    font-family: 'samim',sans-serif;
  }
}

.persian-date-picker .mbsc-font,.mobi-date-picker-header {
  font-family: 'samim',sans-serif;
}

.red .mbsc-calendar-day-text {
  color: red;
}
.mbsc-calendar-marks{
  display: none;
}

// body .mobi-date-picker {
//   .mbsc-range-hover:before, .mbsc-range-day:after {
//     border: 0 none;
//     background: #d7e7f2;
//     border-color: transparent !important;
//     top: 1px !important;
//     bottom: 0;
//     height: 36px !important;
//     left: 0 !important;
//     &.mbsc-range-hover-end{
//       background-color: transparent;
//     }
//   }
//   .mbsc-range-hover-end:before,.mbsc-range-day-end:after{
//     border-radius: 50% 0 0 50%;
//     margin-left: 3px !important;
//   }
// }



.mbsc-popup-content {
  display: flex;
  flex-direction: column;
  .mobi-date-picker-header {
    order: 1;
  }
  .mbsc-datepicker{
    order: 2;
  }
  .mobi-date-picker-footer {
    order: 3;
  }

}
// body .mobi-date-picker .mbsc-selected .mbsc-calendar-cell-text {
//   background: #0d5ab9;
//   border-color: #0d5ab9;
// }
// body .mobi-date-picker .mbsc-calendar-day-text{
//   height: 36px !important;
//   line-height: 36px !important;
//   width: 36px !important;
//   margin: 0 !important;
//   border: 0 none;
// }

.mobi-range-picker .mbsc-calendar-slide {
  padding: 0 15px !important;
  .mbsc-calendar-week-days{
    margin: 10px 0px 15px;
    font-size: 26px;
  }
}

.mbsc-calendar-cell {
  padding-bottom: 0 !important;
}

.mbsc-calendar-title {
  font-weight: bold;
  color: #000;
  font-size: 19px;
}

.mbsc-calendar-header{
  padding-top: 15px;
}
.mbsc-calendar-controls{
  .mbsc-calendar-button-next {
    box-shadow: 1px 1px 5px 0 #00000054;
    font-size: 13px;
    width: 22px;
    height: 22px;
    .mobi-date-picker.persian-date-picker & {    
      margin-left: 20px;
    }
    .mobi-date-picker:not(.persian-date-picker) & {    
      margin-right: 20px;
    }
  }
  .mbsc-calendar-button-prev {
    box-shadow: 1px 1px 5px 0 #00000054;
    font-size: 13px;
    width: 22px;
    height: 22px;
    .mobi-date-picker.persian-date-picker & {    
      margin-right: 20px;
    }
    .mobi-date-picker:not(.persian-date-picker) & {    
      margin-left: 20px;
    }
  }
}

.direction-root{
  html[dir='rtl'] &{
    direction: rtl;
  }
  html[dir='ltr'] &{
    direction: ltr;
  }
}


.slick-slider {
  ul.slick-dots li {
    margin: 0;
  }

  .slick-arrow {
    background: #888;
    &:hover{
      background: #aaa;
    }
    width: 25px;
    height: 25px;
    fill: #fff;
    border-radius: 50%;
  }
  
  .slick-prev:before, .slick-next:before{
    font-family: 'sans-serif';
    font-display: 'swap';
  }
}
