@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clearfix {
    @apply after:clear-both after:content-[''] after:table before:clear-both before:content-[''] before:table;
  }
  .clipCarret {
    clip-path: polygon(0 0 , 50% 100% , 100% 0);
  }
  .gradient-circle-loading{
    background-image: conic-gradient(
      from 0.25turn,
      #1890ff,
      rgba(255, 255, 255, 0) 0.01turn,
      rgba(255, 255, 255, 0) 0.16turn,
      #1890ff
    );
  }
  .hotels-map-sidebar-height{
    max-height: calc(100vh - 180px);
  }
  .bg-blue-gradient{
    background: linear-gradient(-290deg,#11558b -46%,#3665ac -14%,#5992e8 99%);
  }
  .bg-travel-pattern {
    background-image: url("/images/pattern.png");
  }

  input.noStyleInputNumber::-webkit-outer-spin-button,
  input.noStyleInputNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input.noStyleInputNumber {
    -moz-appearance: textfield;
  }
  .ltr{
    direction: ltr;
  }
  .rtl{
    direction: rtl;
  }

}

@font-face {
  font-family: 'samim';
  src: url('/fonts/samim/Samim-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'samim';
  src: url('/fonts/samim/Samim-Medium-FD.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'samim';
  src: url('/fonts/samim/Samim-Bold-FD.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


:root {
  --color-primary-50: theme('colors.blue.50');
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');

  --container-max-width: 1200px;

  --body-background: #f0f3f5;
}


.theme-2 {
  --color-primary-50: theme('colors.red.50');
  --color-primary-100: theme('colors.red.100');
  --color-primary-200: theme('colors.red.200');
  --color-primary-300: theme('colors.red.300');
  --color-primary-400: theme('colors.red.400');
  --color-primary-500: theme('colors.red.500');
  --color-primary-600: theme('colors.red.600');
  --color-primary-700: theme('colors.red.700');
  --color-primary-800: theme('colors.red.800');
  --color-primary-900: theme('colors.red.900');

  --container-max-width: 1500px;

  --body-background: #fff;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.direction-root{
  html[dir='rtl'] &{
    direction: rtl;
  }
  html[dir='ltr'] &{
    direction: ltr;
  }
}

.yarl__slide_description {
  font-family: 'samim';
  font-size: 14px;
}

.inserted-content {
  li{
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 1rem;
  }
  p{
    margin-bottom: 13px;
  }
}


.hotelListMap.leaflet-container .leaflet-marker-icon.leaflet-div-icon {
  width: auto!important;
  height: auto!important;
  border: 0;
}

footer img[src*=trustseal], footer img[src*='logo.samandehi'] {
  font-size: 11px;
  line-height: 15px;
  color: #bbb;
  height: 72px;
  width: auto;
  object-fit: contain;
  @media screen and (max-width:639px) {
    height: 44px;
  }
}

.post-link {
  text-align: center;
  a {
    background: #0a468f;
    color: white;
    display: inline-block;
    padding: 7px 30px;
    border-radius: 8px;
    border: 1px solid #0a468f;
    transition: all .1s linear;
    &:hover{
      background-color: #fff;
      color: #0a468f;
    }
  }
}